* {
    padding: 0;
    margin: 0;
    font-size: 40px;
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.table {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card {
    width: 5%;
    height: auto;
}

.self1 {
    width: 4%;
    height: auto;
    position: absolute;
    top: 475px;
    left: 570px;
}

.self2 {
    width: 4%;
    height: auto;
    position: absolute;
    top: 475px;
    left: 665px;
}

.other1 {
    width: 4%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 570px;
}

.other2 {
    width: 4%;
    height: auto;
    position: absolute;
    top: 100px;
    left: 665px;
}