<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poker Equity Calculator</title>
    <link rel = "stylesheet" href= "../static/styles.css">
</head>
<body>
    <h1>Poker Equity Calculator</h1>

    <form method="post" action="/">
    <center>
    <div>
        <p>Hand One</p>
        <select name = "self1" id="self1">
            <center>
                <option>🃑</option>
                <option>🃁</option>
                <option>🂱</option>
                <option>🂡</option>
                <option>🃞</option>
                <option>🃎</option>
                <option>🂾</option>
                <option>🂮</option>
                <option>🃝</option>
                <option>🃍</option>
                <option>🂽</option>
                <option>🂭</option>
                <option>🃛</option>
                <option>🃋</option>
                <option>🂻</option>
                <option>🂫</option>
                <option>🃚</option>
                <option>🃊</option>
                <option>🂺</option>
                <option>🂪</option>
                <option>🃙</option>
                <option>🃉</option>
                <option>🂹</option>
                <option>🂩</option>
                <option>🃘</option>
                <option>🃈</option>
                <option>🂸</option>
                <option>🂨</option>
                <option>🃗</option>
                <option>🃇</option>
                <option>🂷</option>
                <option>🂧</option>
                <option>🃖</option>
                <option>🃆</option>
                <option>🂶</option>
                <option>🂦</option>
                <option>🃕</option>
                <option>🃅</option>
                <option>🂵</option>
                <option>🂥</option>
                <option>🃔</option>
                <option>🃄</option>
                <option>🂴</option>
                <option>🂤</option>
                <option>🃓</option>
                <option>🃃</option>
                <option>🂳</option>
                <option>🂣</option>
                <option>🃒</option>
                <option>🃂</option>
                <option>🂲</option>
                <option>🂢</option>
            </center>
        </select>

        <select name = "self2" id="self2">
            <center>
                <option>🃑</option>
                <option>🃁</option>
                <option>🂱</option>
                <option>🂡</option>
                <option>🃞</option>
                <option>🃎</option>
                <option>🂾</option>
                <option>🂮</option>
                <option>🃝</option>
                <option>🃍</option>
                <option>🂽</option>
                <option>🂭</option>
                <option>🃛</option>
                <option>🃋</option>
                <option>🂻</option>
                <option>🂫</option>
                <option>🃚</option>
                <option>🃊</option>
                <option>🂺</option>
                <option>🂪</option>
                <option>🃙</option>
                <option>🃉</option>
                <option>🂹</option>
                <option>🂩</option>
                <option>🃘</option>
                <option>🃈</option>
                <option>🂸</option>
                <option>🂨</option>
                <option>🃗</option>
                <option>🃇</option>
                <option>🂷</option>
                <option>🂧</option>
                <option>🃖</option>
                <option>🃆</option>
                <option>🂶</option>
                <option>🂦</option>
                <option>🃕</option>
                <option>🃅</option>
                <option>🂵</option>
                <option>🂥</option>
                <option>🃔</option>
                <option>🃄</option>
                <option>🂴</option>
                <option>🂤</option>
                <option>🃓</option>
                <option>🃃</option>
                <option>🂳</option>
                <option>🂣</option>
                <option>🃒</option>
                <option>🃂</option>
                <option>🂲</option>
                <option>🂢</option>
            </center>
        </select>
    </div>
    </center>

    <center>
        <div>
            <p>Hand Two</p>
            <select name = "other1" id="other1">
                <center>
                    <option>🃑</option>
                    <option>🃁</option>
                    <option>🂱</option>
                    <option>🂡</option>
                    <option>🃞</option>
                    <option>🃎</option>
                    <option>🂾</option>
                    <option>🂮</option>
                    <option>🃝</option>
                    <option>🃍</option>
                    <option>🂽</option>
                    <option>🂭</option>
                    <option>🃛</option>
                    <option>🃋</option>
                    <option>🂻</option>
                    <option>🂫</option>
                    <option>🃚</option>
                    <option>🃊</option>
                    <option>🂺</option>
                    <option>🂪</option>
                    <option>🃙</option>
                    <option>🃉</option>
                    <option>🂹</option>
                    <option>🂩</option>
                    <option>🃘</option>
                    <option>🃈</option>
                    <option>🂸</option>
                    <option>🂨</option>
                    <option>🃗</option>
                    <option>🃇</option>
                    <option>🂷</option>
                    <option>🂧</option>
                    <option>🃖</option>
                    <option>🃆</option>
                    <option>🂶</option>
                    <option>🂦</option>
                    <option>🃕</option>
                    <option>🃅</option>
                    <option>🂵</option>
                    <option>🂥</option>
                    <option>🃔</option>
                    <option>🃄</option>
                    <option>🂴</option>
                    <option>🂤</option>
                    <option>🃓</option>
                    <option>🃃</option>
                    <option>🂳</option>
                    <option>🂣</option>
                    <option>🃒</option>
                    <option>🃂</option>
                    <option>🂲</option>
                    <option>🂢</option>
                </center>
            </select>
    
            <select name = "other2" id="other2">
                <center>
                    <option>🃑</option>
                    <option>🃁</option>
                    <option>🂱</option>
                    <option>🂡</option>
                    <option>🃞</option>
                    <option>🃎</option>
                    <option>🂾</option>
                    <option>🂮</option>
                    <option>🃝</option>
                    <option>🃍</option>
                    <option>🂽</option>
                    <option>🂭</option>
                    <option>🃛</option>
                    <option>🃋</option>
                    <option>🂻</option>
                    <option>🂫</option>
                    <option>🃚</option>
                    <option>🃊</option>
                    <option>🂺</option>
                    <option>🂪</option>
                    <option>🃙</option>
                    <option>🃉</option>
                    <option>🂹</option>
                    <option>🂩</option>
                    <option>🃘</option>
                    <option>🃈</option>
                    <option>🂸</option>
                    <option>🂨</option>
                    <option>🃗</option>
                    <option>🃇</option>
                    <option>🂷</option>
                    <option>🂧</option>
                    <option>🃖</option>
                    <option>🃆</option>
                    <option>🂶</option>
                    <option>🂦</option>
                    <option>🃕</option>
                    <option>🃅</option>
                    <option>🂵</option>
                    <option>🂥</option>
                    <option>🃔</option>
                    <option>🃄</option>
                    <option>🂴</option>
                    <option>🂤</option>
                    <option>🃓</option>
                    <option>🃃</option>
                    <option>🂳</option>
                    <option>🂣</option>
                    <option>🃒</option>
                    <option>🃂</option>
                    <option>🂲</option>
                    <option>🂢</option>
                </center>
            </select>
        </div>
        </center>
        
        <div>
            <center>
                <button type = "submit">Simulate</button>
            </center>
        </div>

        <div id = "result">
            <h2>Simulation Result</h2>
            <p>{{ result }}</p>
        </div>
    </form>
</body>
</html>